{% extends "layout.html" %} {% block page %}

<body class="login-page">{% endblock %}
    <p>{{ title }}</p>

    {% block content %}
    <div class="login-form">
        <form id="login-form" action="/login" method="POST">
            <label>Username</label>
            <input type="text" name="username" placeholder="Username" required>

            <label>Password</label>
            <input type="password" name="password" placeholder="Password" required>

            <input type="submit" value="Login">
            <!-- <button>Sign Up</button> -->
        </form>
    </div>
    {% endblock %}