{% extends "layout.html" %} {% block page %}

<body class="register-page">{% endblock %}
    <p>{{ title }}</p>

    {% block content %}
    <div class="register-form">
        <form id="register-form" action="{{ url_for('register') }}" method="POST">
            <label>Username</label>
            <input type="text" name="username" placeholder="Username" required>

            <label>Password</label>
            <input type="password" name="password" placeholder="Password" required>

            <input type="submit" value="Submit">
            <!-- <button>Sign Up</button> -->
        </form>
    </div>
    {% endblock %}